/* CSS selectors available: https://www.w3schools.com/cssref/css_selectors.asp. */

/* For device widths: https://viewportsizer.com/devices/. */

/* Remember "tab test" for accessibility. */

/************************************************************
********** Viewport 1 of 4 (default code) **********
************************************************************/

/* Always use this, as Brian Holt advises. It makes the size ("width", for example) of every element equal to the element's content + its padding + its border, and not inclusive of margin of course. */
* {
    box-sizing: border-box;
}

::selection {
    background-color: #69359C;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    background-color: #222222;
}

/****************************************
header
****************************************/

header {
    color: #222222;
    background-color: #69359C;
    letter-spacing: 1px;
}

.name-and-menu-icons-div {
    display: flex;
    justify-content: space-between;
    padding: 6px 34px 6px 30px;
}

.name-at-top {
    font-size: 23px;
    font-weight: 600;
}

.name-at-top::selection {
    background-color: #f6f6ff;
}

.menu-icon-btn {
    background-color: #69359C;
    align-self: center; /* Is this needed? */
    cursor: pointer;
    padding: 0;
    margin-top: 5px;
    border-width: 0;
}

/* This is here to remove the default outline that appears upon clicking the button. But removing this causes a problem: It also removes the line that appears (and should appear, for accessibility reasons) when the button is found with "tab". So there needs to be a visual indication of when the button is tabbed on. To solve this, there's ":focus-visible" (used just below). Reference the following link for more info on ":focus-visible" if needed: https://css-tricks.com/almanac/selectors/f/focus-visible/. */
.menu-icon-btn:focus {
    outline: none;
}

.menu-icon-btn:focus-visible {
    border: 2px solid #f6f6ff; /* I made this a "border" instead of an "outline" just so that I could give it a border-radius (there's no way to create a similar effect, I believe, with outline). */
    border-radius: 5px;
}

.is-hidden {
    display: none; /* Setting this is preferable to "visibility: hidden" for a program, because, if you use the latter instead, then when the menu is hidden and the user is tabbing through the page, there will be several tabs that are "lost"/invisible. */
}

ul {
    list-style-type: none;
}

.menu-items-ul {
    margin: 0;
    font-size: 19px;
    font-weight: 600;
    padding: 0 0 30px 0;
}

.menu-items-ul a {
    color: #222222;
    text-decoration: none;
    padding: 15px 0;

    /* I needed the <a> to appear as wide as its parent (the <li>). I got this solution from stackoverflow. Why does it work? */
    display: flex;
    justify-content: center;
}

.menu-items-ul a:hover {
    background-color: #f6f6ff;  
    text-decoration: underline;
}

.menu-items-ul a:focus {
    outline: none;
}

.menu-items-ul a:focus-visible {
    border: 2px solid #f6f6ff;
    border-radius: 5px;
}

/****************************************
main
****************************************/

main {
    padding: 34px 34px 0 34px;
    margin-top: 34px;
}

.pic-and-content-div {
    width: 100%;
    max-width: 508px;
    margin: auto; /* This is needed to center '.pic-and-content-div' once the width of '.pic-and-content-div' reaches what 'max-width' (in the line just above) is set to. */
    border-radius: 10px;
    /* What's below is the same shadowing as is on 'section', but I didn't want to make .pic-and-content-div a 'section' for other styling reasons. */
    box-shadow:
        /* top: */
            0px -14px 11px -7px rgba(0, 0, 0, 0.3),
        /* left and bottom: */
            -3px 20px 35px 0px rgba(0, 0, 0, 0.03),
            -4px 7px 8px 0px rgba(0, 0, 0, 0.2),
        /* right and bottom: */
            3px 35px 35px 0px rgba(0, 0, 0, 0.03),
        /* bottom (and a bit of right): */
            3px 35px 20px 0px rgba(0, 0, 0, 0.2),
        /* bottom: */
            2px 10px 12px 0px rgba(0, 0, 0, 0.4);
}

.pic-div {
    display: block;
    width: 100%;
    height: 300px;
    border-radius: 10px;
    background-image: url(../../assets/img/my_website_pic.jpg);
    background-position: 22% 0%;
    background-size: cover;
}

.content-div {
    color: #000000;
    background-color: #f6f6ff;
    width: 100%;
    border-radius: 0 0 10px 10px;
    padding: 18px 34px;
}

.content-div p {
    text-align: center;
    letter-spacing: 0.5px;
    margin: 0;
    line-height: 42px;
    font-style: italic;
}

.content-div p span {
    color: #69359C;
    font-size: 19px;
    font-weight: 600;
}

.content-div p span::selection {
    background-color: #222222;
}

.space-between-1 {
    /* 33px + 1px = 34px, which is the margin or padding being used in various places. */
    height: 1px;
    margin-top: 33px;
}

.space-between-2 {
    /* 33px + 1px = 34px, which is the margin or padding being used in various places. */
    height: 1px;
    margin-top: 33px;
}

section {
    letter-spacing: 0.5px; /* Has to be consistent with '.content-div p'. */
    color: #000000;
    background-color: #f6f6ff;
    width: 100%;
    max-width: 508px;
    margin: auto; /* This is needed to center <section> once the width of <section> reaches what 'max-width' (in the line just above) is set to. */
    border-radius: 10px;
    padding: 25px 34px 34px 34px;
    box-shadow:
        /* top: */
            0px -14px 11px -7px rgba(0, 0, 0, 0.3),
        /* left and bottom: */
            -3px 20px 35px 0px rgba(0, 0, 0, 0.03),
            -4px 7px 8px 0px rgba(0, 0, 0, 0.2),
        /* right and bottom: */
            3px 35px 35px 0px rgba(0, 0, 0, 0.03),
        /* bottom (and a bit of right): */
            3px 35px 20px 0px rgba(0, 0, 0, 0.2),
        /* bottom: */
            2px 10px 12px 0px rgba(0, 0, 0, 0.4);
}

.menu-item-heading {
    color: #69359C;
    font-size: 25px;
    font-weight: 600;
    font-style: italic;
    margin: 0;
}

.menu-item-heading::selection {
    background-color: #222222;
}

.div-for-back-to-top-btn {
    text-align: right;
    margin-top: 36px;
}

.back-to-top-btn {
    background-color: #f6f6ff;
    color: #69359C;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: 400;
    padding: 0;
    cursor: pointer;
    border-width: 0;
    letter-spacing: 0.5px;
}

.back-to-top-btn:hover {
    font-style: italic;
}

.back-to-top-btn::selection {
    background-color: #222222;
}

.about-section p, .contact-section p {
    margin-top: 28px;
}

.work-section-subsection {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.work-section-subsection h3 {
    font-size: 20px;
    font-weight: 500;
}

.work-section-subsection ul {
    margin: 0;
}

.projects-posts-exercises-subheading {
    margin-top: 28px;
}

.projects-posts-exercises-linked-icons-ul, .places-I-practice-linked-icons-ul {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    column-gap: 40px;
    row-gap: 20px;
}

.projects-posts-exercises-linked-icon, .places-I-practice-linked-icon {
    width: 40px;
    border-radius: 5px;
}

.my-favorites-h4 {
    font-size: 16.5px;
    font-weight: 400;
    margin-bottom: 2.5px;
}

.my-favorites-links-ul {
    text-align: center;
    list-style-type: none;
    padding: 0;
}

.my-favorites-links-ul li {
    margin-top: 6px;
}

.my-favorites-links-ul a {
    color: #69359C;
    text-decoration: none;
}

.my-favorites-links-ul a:hover {
    text-decoration: underline;
}

.my-favorites-links-ul a::selection {
    background-color: #222222;
}

.view-site-link {
    font-size: 13.5px;
    font-style: italic;
}

.my-favorite-projects-h4 {
    margin-top: 15px;
}

.my-favorite-posts-h4, .my-favorite-exercises-h4 {
    margin-top: 17px;
}

.places-I-practice-subheading {
    margin-top: 30px;
}

.my-resume-subheading {
    margin-top: 33px;
}

.resume-btn {
    background-color: #f6f6ff;
    color: #69359C;
    border: #69359C 2px solid;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 500;
    padding: 0;
    padding: 7px 40px;
    cursor: pointer;
    letter-spacing: 0.5px;
    border-radius: 7px;
}

.resume-btn:hover {
    color: #f6f6ff;
    background-color: #69359C;
    text-decoration: underline;
}

.resume-btn::selection {
    background-color: #222222;
}

.email-and-phone {
    text-align: center;
}

/****************************************
footer
****************************************/

footer {
    padding: 54px 34px 56px 34px;
    background-color: #69359C;
    letter-spacing: 1px;
}

footer p {
    color: #222222;
    margin: 0;
    margin-bottom: 27px;
    text-align: center;
    font-size: 19px;
    font-weight: 600;
}

footer p::selection {
    background-color: #f6f6ff;
}

footer ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.footer-links-ul {
    display: flex;
    flex-wrap: wrap;
    column-gap: 46px;
    row-gap: 23px;
}

.footer-link-icon {
    width: 46px;
    border-radius: 5px;
}

.footer-menu-items-ul {
    column-gap: 30px;
    row-gap: 15px;
    margin-top: 50px;
    font-size: 16px;
    font-weight: 600;
}

.footer-menu-items-ul a {
    color: #222222;
    text-decoration: none;
}

.footer-menu-items-ul a:hover {
    text-decoration: underline;
}

.footer-menu-items-ul a:focus {
    outline: none;
}

.footer-menu-items-ul a:focus-visible {
    border: 2px solid #f6f6ff;
    border-radius: 5px;
}

/************************************************************
********** Viewport 2 of 4 **********
************************************************************/

@media screen and (min-width: 845px) { /* starting at width of 845px, the code below (which is only for CHANGES to the above code) will take effect. */

    /****************************************
    header
    ****************************************/

    header {
        display: flex;
        justify-content: space-between;
    }

    .name-and-menu-icons-div {
        display: block;
        padding: 0;
    }

    .name-at-top {
        font-size: 26px;
        padding: 6px 0 6px 34px; /* The left padding here must be exactly double the right-and-left padding number of '.menu-items-ul a'. */
    }

    .menu-icon-btn {
        display: none;
    }

    .menu-items-ul {
        padding-right: 19px; /* This number must be 2 greater than the right-and-left padding number of '.menu-items-ul a'. */
        padding-bottom: 0;
        display: flex;
        align-items: center;
    }

    .menu-items-ul a {
        display: block;
        padding: 28.5px 17px; /* These numbers, especially the 28.5, are precise. (The 28.5 is the top-and-bottom padding at which the hovering white covers the whole height of <header> without expanding the height of <header>.) */
    }

    /****************************************
    main
    ****************************************/

    /****************************************
    footer
    ****************************************/

}

/************************************************************
********** Viewport 3 of 4 **********
************************************************************/

@media screen and (min-width: 990px) { /* starting at width of 990px, the code below (which is only for CHANGES to the above code) will take effect. */

    /****************************************
    header
    ****************************************/
    
    /****************************************
    main
    ****************************************/
    
    .pic-and-content-div {
        min-width: 53%;
    }

    .pic-div {
        background-image: url(../../assets/img/my_website_pic--for_wider_viewport.jpg);
        background-position: 33% 0%;
    }

    section {
        min-width: 53%;
    }

    /****************************************
    footer
    ****************************************/

    .footer-menu-items-ul {
        column-gap: 40px;
        font-size: 17px;
    }
}

/************************************************************
********** Viewport 4 of 4 **********
************************************************************/

@media screen and (min-width: 1310px) { /* starting at width of 1310px, the code below (which is only for CHANGES to the above code) will take effect. */

    /****************************************
    header
    ****************************************/

    .name-at-top {
        font-size: 28px;
        padding-left: 60px; /* This number must be exactly triple the right-and-left padding number of '.menu-items-ul a'. */
    }

    .menu-icon-btn {
        display: none;
    }

    .menu-items-ul {
        font-size: 20px;
        padding-right: 42px; /* This number must be 2 greater than double the right-and-left padding number of '.menu-items-ul a'. */
        padding-bottom: 0;
        display: flex;
        align-items: center;
    }

    .menu-items-ul a {
        display: block;
        padding: 30px 20px; /* These numbers, especially the 30, are precise. (The 30 is the top-and-bottom padding at which the hovering white covers the whole height of <header> without expanding the height of <header>.) */
    }

    /****************************************
    main
    ****************************************/

    /****************************************
    footer
    ****************************************/

}





    





















/* KEEP THIS AS A REFERENCE:

parent/container/row {
    display: flex;    mandatory 
    flex-direction: ;    row (default) | row-reverse | column | column-reverse 
    justify-content: ;    flex-start (default) | flex-end | center | space-between | space-around | space-evenly 
    align-items: ;    flex-start | flex-end | center | (baseline) | stretch (default) 
    flex-wrap: ;    nowrap (default) | wrap | wrap-reverse 
    align-content: ;    flex-start | flex-end | center | space-between | space-around | stretch (default)

    note on 'align-content' (paraphrased from flexboxfroggy.com): 'align-content' determines the spacing between lines, while 'align-items' determines how the items as a whole are aligned within the container; when there is only one line, 'align-content' has no effect

    flex-flow: ;    this is shorthand for 'flex-direction: ;' and 'flex-wrap: ;' (e.g., 'flex-flow: column wrap;')
}

child/item/cell {
    align-self: ;    flex-start | flex-end | center | (baseline) | stretch (default)
    flex-grow: ;    0 is default (Jen Kramer: This is very hard to understand)
    flex-shrink: ;    1 is default (Jen Kramer: This is very hard to understand)
    flex-basis: ;    auto is default (Jen Kramer: This is basically the 'width' property--never use with Flexbox--but with some flexibility you can't control)
    order: ;    0 is default

    flex: [flex-grow number, flex-shrink number, flex-basis number];    this is a way (instead of using % outside of Flexbox) to set relative sizes of elements. (This is how I THOUGHT 'flex-grow' worked.) An example is 'flex: 1 1 0;' (the shorthand for which is the oft-used 'flex: 1;').

    margin-top: auto;    this puts the element at the bottom (assuming 'flex-direction' is set to 'column').
}

*/